{% extends "main.html" %}
{% block title %}
{{ contest.title }} - {{ problem.title | safe }}
{% endblock %}
{% block content %}

    <div class="problem">

        <div id="problem_description">

            {% if problem.show_title %}
                <h1>{{ problem.title | safe }}</h1>
            {% endif %}

            {{ problem.statement | safe }}

            {% for i, x in enumerate(problem.examples) %}
                {% if len(problem.examples) > 1 %}
                    <h2>Example {{ i+1 }}</h2>
                {% else %}
                    <h2>Example</h2>
                {% endif %}

                {% if x.display == 'normal' %}
                    <table class="example table table-bordered">
                        <tr>
                            <th>Input</th>
                            <th>Output</th>
                        </tr>
                        <tr>
                            <td><pre>{{ x.input }}</pre></td>
                            <td><pre>{{ x.output }}</pre></td>
                        </tr>
                    </table>
                {% elif x.display == 'large' %}
                    <table class="example table table-bordered">
                        <tr>
                            <th>Input</th>
                        </tr>
                        <tr>
                            <td><pre>{{ x.input }}</pre></td>
                        </tr>
                    </table>
                    <table class="example table table-bordered">
                        <tr>
                            <th>Output</th>
                        </tr>
                        <tr>
                            <td><pre>{{ x.output }}</pre></td>
                        </tr>
                    </table>
                {% endif %}

                {% if x.explanation %}
                    <h4>Explanation</h4>
                    <p>{{ x.explanation | safe }}</p>
                {% endif %}
            {% endfor %}

        </div>

        {% if problem.id in phase.submit_problems %}
            <form id="problem_form" class="form-inline" action="" method="post" enctype="multipart/form-data">
                <fieldset>
                    <div id="legend">
                        <legend><h2>Submit</h2></legend>
                    </div>

                    {% if team %}
                        {# <div class="col-sm-10"> #}
                        {#     <input type="text" class="form-control" id="answer" placeholder="Answer"> #}
                        {# </div> #}
                        {# <div class="col-sm-2"> #}
                        {#     <button class="btn btn-success form-control">Submit</button> #}
                        {#  #}
                        {# </div> #}

                        <div>
                            <label class="control-label" for="answer">Answer</label>
                            <div id="code_wrapper">
                                <textarea name="answer" id="answer" class="form-control clearfix" rows="5" placeholder="Answer"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-6 control-label text-left" for="answer_file">Or choose file</label>
                            <div class="col-sm-6">
                                <input class="form-control" type="file" name="answer_file" id="answer_file" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 pull-right">
                                <button class="btn btn-success form-control">Submit</button>
                            </div>
                        </div>
                    {% else %}
                        <div>Sorry. You have to be <a href="{{ url_for('default.login') }}">logged in</a> to submit your solution.</div>
                    {% endif %}
                </fieldset>
            </form>
        {% endif %}
    </div>
{% endblock %}

