{% extends "judge/main.html" %}
{% block title %}
{{ contest.title }} - submission {{ submission.id }}
{% endblock %}
{% block content %}
    <h3>Details for submission {{ submission.id }}</h3>
    <h5>Team {{ submission.team }}, problem {{ contest.problems[submission.problem].title | safe }}, submitted at {{ submission.submitted | format_time }}</h5>
    {# <pre><code>{{ submission.file }}</code></pre> #}
    <textarea id="source_code">{{ submission.answer }}</textarea>
    <hr />
    <form action="" method="post">
        <div>
            <h4>Score:</h4>
                <input type="text" name="score" value="{{ submission.score }}" />
            <h4>Points:</h4>
                <input type="text" name="points" value="{{ submission.points }}" />
        </div>
        <br />
        <br />
        <textarea id="judge_response" name="judge_response">{{ submission.judge_response or '' }}</textarea><br />
        <button class="btn btn-success">Update score & points</button>
    </form>
{% endblock %}
