{% extends "main.html" %}
{% block content %}
    <div class="hero-unit offset2 span7">
        <h1>Halló{{ ', %s' % team.name if team else '' }}!</h1>
        <p>
            {% if contest.status() == contest.BEFORE_START %}
                {% set hrs = int(1 + contest.time_to_start() / 60 / 60) %}
                Ertu ekki orðin(n) spennt(ur)? Keppnin byrjar eftir minna en {{ hrs }} klukkutíma.
                {% if not team %}
                    Þú þarft að vera skráð(ur) inn til að skila inn lausnum, svo þú ættir að drífa þig að <a href="{{ url_for('default.login') }}">skrá þig inn</a>.
                    Svo þarftu bara að hinkra eftir að keppnin byrji.
                {% else %}
                    Þú ert nú þegar skráð(ur) inn. Geggjað!
                    Nú þarftu bara að hinkra eftir að keppnin byrji.
                {% endif %}
                Megi mátturinn vera með þér!
            {% elif contest.status() == contest.RUNNING %}
                Keppnin er byrjuð. Vúhú!
                Ef þú hefur ekki þegar byrjað geturðu skoðað listann hér til vinstri og valið þér dæmi.
                {% if not team %}
                    Þú ert samt ekki búin(n) að skrá þig inn, þannig þú munt ekki geta skilað inn lausnum.
                    Kannski ættirðu bara að byrja á því að <a href="{{ url_for('default.login') }}">skrá þig inn</a> áður en þú ferð að leysa dæmi?
                {% endif %}
                Við vonum að þér gangi vel!
            {% else %}
                Keppnin er búin. Þetta var nú gaman!
                Þú getur skoðað lokaniðurstöðurnar í <a href="{{ url_for('default.view_scoreboard') }}">stigatöflunni</a>, eða skoðað dæmin í listanum hér til vinstri.
                Vonandi fannst þér keppnin skemmtileg!
            {% endif %}
        </p>
    </div>
{% endblock %}
