{% extends "main.html" %}
{% block content %}

<form class="form-horizontal form-signin" action="" method="post">
    <fieldset>
        <div id="legend">
            <legend class="">Innskráning</legend>
        </div>

        {% if registered %}
            <div class="alert alert-success">
                <h4>Nýskráning gekk upp!</h4>
                Velkomin(n)! Gjörðu svo vel og skráðu þig inn núna.
            </div>
        {% endif %}

        {% if bad_login %}
            <div class="alert alert-danger">
                <h4>Innskráning gekk ekki upp!</h4>
                Passaðu að þú hafir skrifað lykilorðið rétt inn.
            </div>
        {% endif %}

        <div class="form-group">
            <label class="control-label" for="team">Notendanafn</label>
            <input type="text" id="team" name="team" value="{{ team_name }}" class="input-xlarge form-control">
        </div>

        <div class="form-group">
            <label class="control-label" for="password">Lykilorð</label>
            <input type="password" id="password" name="password" placeholder="" class="input-xlarge form-control">
        </div>

        <div class="form-group">
            <button class="btn btn-success">Skrá inn</button>
        </div>
    </fieldset>
</form>

{% endblock %}
