{% extends "main.html" %}
{% block title %}
{{ contest.title }} - {{ problem.title | safe }}
{% endblock %}
{% block content %}

    <div class="problem">

        <div id="problem_description">
            {{ problem.statement | safe }}
        </div>

        {% if problem.id in phase.submit_problems %}
            <form id="problem_form" class="form-inline" action="" method="post" enctype="multipart/form-data">
                <fieldset>
                    <div id="legend">
                        <legend><h2>Submit</h2></legend>
                    </div>

                    {% if team %}
                        {% if max_sub %}
                            <div class="row">
                                <div class="alert alert-success" role="alert"><b>Score: {{ max_sub.points }}/{{ problem.points }}</b><span class="pull-right">{{ max_sub.judge_response }}</span><span class="clearfix"></span></div>
                            </div>
                        {% endif %}
                        {% if sub %}
                            <div class="row">
                            <div class="alert alert-info" role="alert"><b>Score for last submission: {{ sub.points }}/{{ problem.points }}</b><span class="pull-right">{{ sub.judge_response }}</span><span class="clearfix"></span></div>
                            </div>
                        {% endif %}
                        <div class="row">
                            <div>
                                <div id="code_wrapper">
                                    <input type="text" name="answer" id="answer" class="form-control clearfix" placeholder="Answer" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-10">
                            </div>
                            <div id="submit_wrapper" class="col-sm-2">
                                <button id="submit_answer" class="btn btn-success form-control">Submit</button>
                            </div>
                        </div>
                    {% else %}
                        <div>Sorry. You have to be <a href="{{ url_for('default.login') }}">logged in</a> to submit your solution.</div>
                    {% endif %}
                </fieldset>
            </form>
        {% endif %}
    </div>
{% endblock %}

