{% extends "main.html" %}
{% block title %}
{{ contest.title }} - lausn {{ submission.id }}
{% endblock %}
{% block content %}
    <h3>Upplýsingar um lausn {{ submission.id }}</h3>
    <h5>Lið {{ submission.team }}, verkefni {{ contest.problems[submission.problem].title | safe }}, skilað inn {{ submission.submitted | format_time }}</h5>
    <textarea id="answer">{{ submission.answer }}</textarea>
    <div class="form-group">
        <h4>Aðgerðir:</h4>
        <a href="{{url_for('default.view_problem', problem_id=submission.problem)}}" class="btn btn-primary"><i class="fa fa-eye"></i> Skoða verkefni</a>
        <a href="{{url_for('default.view_problem', problem_id=submission.problem, sub_id=submission.id)}}" class="btn btn-warning"><i class="fa fa-edit"></i> Breyta</a>
    </div>
    <hr />
    <h4>Stigaprósenta: {{ submission.score }}/100</h4>
    <h4>Stig: {{ submission.points }}</h4>
    <hr />
    {% if submission.judge_response != None %}
        {{ submission.judge_response | safe }}
    {% endif %}
{% endblock %}

